<header>
    <div class="logo">Water Logged</div>
    <div class="menu"><ul>
        <li>Home</li>
        <li>About</li>
        <li>Track Your Progress</li>
        <li>Record Your Intake</li>
    </ul></div>
</header> 
