<header>
    <div class="logo">Water Logged</div>
    <div class="header-container">
    <div class="menu"><ul>
        <li><a href="/">Home</a></li>
        <li>About</li>
        <li><a href="/water">Track Your Progress</a></li>
        <li>Record Your Intake</li>
    </ul>
</div>
</div>
</header> 
