/*code from J's tutorial video */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: rgb(5, 52, 105);

}
.header-container {
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: white;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

nav ul {
    display: flex;

}

nav ul li {
    margin: 0 10px;
    color: rgb(125, 241, 221);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

a:visited {
    color: inherit; 
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 1.5em;
    color: white;
    background-color: rgb(5, 52, 105);

}

.water-wrapper {
    max-width: 600px;
    width: 80vw;
    margin: auto;
}

.water {
    width: 100%;
    border: 1 px solid rgb(5, 52, 105);
}

.title-status, .category-actions {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1 px solid rgb(5, 52, 105);
    align-items: center;
}

.title-status h3 {
    font-size: 1.5em;
    font-weight: bold;
}

/*125, 241, 221*/