<%- include('../partials/boilerplate') %>

<form method='POST' action="/water"></form>
<input type="text" name="amount" placeholder="Amount">
<input type="text" name="measurement" placeholder="Measurement">
<textarea name="description" placeholder="Description"></textarea>
<input type="submit" value="Log your water intake">
<%- include('../partials/end') %>