<%- include('../partials/boilerplate') %>

<div>
<h3>TITLE: <%- water.title %></h3>
<p>STATUS: <% if (water.status) { %>
Done
<% } else { %>
Not Done 
<% } %></p>

<p>AMOUNT: <%- water.amount %></p>

<a href="/water">Back to the main page!</a>

</div>
<%- include('../partials/end') %>